<div class="container mt-2"> <!-- Added margin-top -->
    <div class="row justify-content-center"> <!-- Center the alert -->
      <div class="col-md-6">
        
        <% if (error && error.length) { %>
            <% error.forEach(msg => { %>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <%= msg %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            <% }); %>
        <% } %>
  
        <% if (success && success.length) { %>
            <% success.forEach(msg => { %>
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <%= msg %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            <% }); %>
        <% } %>
  
      </div>
    </div>
  </div>
  