<!-- <footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-brand">&copy;BreezyHomes Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>  
            <a href="/terms">Terms</a>  
        </div>
    </div>
</footer> -->

<!-- new footer -->
<footer class="mt-5 f-info">
    <div class="row ms-5" style="padding: 2rem;">
        <div class="col-3">
            <h1 class="f-title">Company</h1>
            <ul>
                <li>Blog</li>
                <li>Privacy Policy</li>
                <li>FAQ's</li>
                <li>Contact</li>
            </ul>
        </div>
        <div class="col-3">
            <h1 class="f-title">Contact Us</h1>
            <ul>
                <li>Shivanjali Complex,
                Near Lal Mahal,JaiPur,India.</li>
                <li>+91 8994 6633 31</li>
            </ul>
        </div>
        <div class="col-3">
            <h1 class="f-title">Quick Links</h1>
            <ul>
                <li><a href="/listings/new" style="text-decoration: none;color:black">Add your home</a></li>
                <li><a href="/listings" style="text-decoration: none;color:black">Explore</a></li>
                <li><a href="" style="text-decoration: none;color:black">Help</a></li>
            </ul>
        </div>
        <div class="col-3">
            <h1 class="f-title">Social Share</h1>
           <ul>
            <li><i class="fa-brands fa-facebook"></i> &nbsp; &nbsp; Facebook</li>
            <li> <i class="fa-brands fa-instagram"></i> &nbsp; &nbsp;  Instagram</li>
            <li><i class="fa-brands fa-linkedin"></i>  &nbsp; &nbsp; LinkedIn</li>
        </ul>
        </div>
        </div>
        <div class="f-info-brand" style="text-align: center;">&copy;BreezyHomes Private Limited</div>
        <div class="f-info-links" style="text-align: center;">
            <a href="">Privacy</a>  
            <a href="">Terms</a>  
            <br>
        </div>
    </div>
    </div>
</footer>