<!-- Footer Start -->
<footer class="footer mt-5">
    <!-- Full footer on desktop -->
    <div class="container d-none d-md-block">
        <div class="row py-4">
            <div class="col-md-3">
                <h5 class="f-title">Company</h5>
                <ul class="list-unstyled">
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/privacy">Privacy Policy</a></li>
                    <li><a href="/faq">FAQ's</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 class="f-title">Contact Us</h5>
                <ul class="list-unstyled">
                    <li>Shivanjali Complex, Near Lal Mahal, Jaipur, India</li>
                    <li>+91 8994 6633 31</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 class="f-title">Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/listings/new">Add your home</a></li>
                    <li><a href="/listings">Explore</a></li>
                    <li><a href="/help">Help</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 class="f-title">Social Share</h5>
                <ul class="list-unstyled">
                    <li><i class="fa-brands fa-facebook"></i> Facebook</li>
                    <li><i class="fa-brands fa-instagram"></i> Instagram</li>
                    <li><i class="fa-brands fa-linkedin"></i> LinkedIn</li>
                </ul>
            </div>
        </div>
        
    </div>

    <!-- Minimal footer on mobile -->
    <div class="container d-block d-md-none text-center py-3">
        <div class="mb-2">
            <a href="https://facebook.com" class="me-2"><i class="fa-brands fa-facebook fa-lg"></i></a>
            <a href="https://instagram.com" class="me-2"><i class="fa-brands fa-instagram fa-lg"></i></a>
            <a href="https://linkedin.com"><i class="fa-brands fa-linkedin fa-lg"></i></a>
        </div>
        <div>&copy; BreezyHomes Private Limited</div>
        <div>
            <a href="/privacy">Privacy</a> |
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>
<!-- Footer End -->
