@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
body{
   font-family: "Plus Jakarta Sans", sans-serif !important;
   display: flex;
   flex-direction: column;
   min-height: 100vh;

}
.container{
    flex:1;
}
/* navbar */
.navbar{
    height: 5rem;
    background-color: #e9d3d3;
}
.fa-compass{
    color: #911b22;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}
/* Footer */
.footer {
    background-color: #e9d3d3;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.footer .f-title {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
    margin-right: 4px;
}

.footer ul li {
    margin-bottom: 0.5rem;
}

.footer ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.footer ul li a:hover {
    color: #007bff;
}

.footer i {
    color: #151314;
}

.footer a {
    color: #5e5f60;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}


/* Cards */
.listing-card{
    border: none  !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body
{
    padding: 0 !important;
}

.card-text p{
font-weight: 400;
}
.listing-list{
    text-decoration: none;
}
/* Card Effect */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* Edit page */
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}
/* show page */
.show-img{
    height: 30vh;
}
.btns{
    display: flex;

}
.show-card{
    padding-left: 0;
    padding-right: 0;
}